header{
	z-index: 1;
	display: flex;
	align-items: center;
	justify-content: space-between;
	top: 0;
	width: 100%;
	color: var(--orange);
}

header > h1{
	font-size: 2rem;
	margin: 0 1.25rem;
	font-family: var(--dynapuff);
	color: var(--orange);
}

header > ul{
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0.5rem;
	gap: 2rem;
	font-size: 1.5rem;
	margin-right: 1rem;
}

.nav-icon{
	color: var(--white);
}

.nav-icon{
	color: var(--yellow);
	transition-duration: 300ms;
}

header input{
	height: 0;
	width: 0;
	display: none;
}
